<!-- start gallery -->

<div class="gallery">
    <h1 class="color1 aos-init aos-animate" data-aos="fade-up">Portfolio</h1>
    <p class="color2 aos-init aos-animate" data-aos="fade-up">Most Important Websites I have developed them.</p>
    <div class="controls" data-aos="fade-up">
        <button type="button" class="control color-light  gradient btnn" data-filter="all"><div class="animate_btnn background1"></div> All</button>
        <button type="button" class="control color-light  gradient btnn" data-filter=".templates"><div class="animate_btnn background1"></div> templates</button>
        <button type="button" class="control color-light  gradient btnn" data-filter=".graphics"><div class="animate_btnn background1"></div> graphics</button>
        <button type="button" class="control color-light  gradient btnn" data-filter=".Photographs"><div class="animate_btnn background1"></div> Photographs</button>
        <button type="button" class="control color-light  gradient btnn" data-filter=".brands"><div class="animate_btnn background1"></div> brands</button>
    </div>

    <div class="protfolio" data-aos="fade-up">
        <div class="item mix Photographs">
            <img src="../../assets/img/mycamera/08.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/mycamera/08.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix brands">
            <img src="../../assets/img/brands/1.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/brands/1.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="item mix graphics">
            <img src="../../assets/img/graphics/1.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/graphics/1.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix graphics">
            <img src="../../assets/img/graphics/3.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/graphics/3.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix brands">
            <img src="../../assets/img/brands/3.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/brands/3.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="item mix Photographs">
            <img src="../../assets/img/mycamera/03.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/mycamera/03.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="item mix Photographs">
            <img src="../../assets/img/mycamera/04.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/mycamera/04.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix Photographs">
            <img src="../../assets/img/mycamera/06.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/mycamera/06.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="item mix Photographs">
            <img src="../../assets/img/mycamera/16.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/mycamera/16.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix Photographs">
            <img src="../../assets/img/mycamera/07.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/mycamera/07.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="item mix brands">
            <img src="../../assets/img/brands/2.JPG" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/brands/2.JPG" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="item mix graphics">
            <img src="../../assets/img/graphics/4.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/graphics/4.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix Photographs">
            <img src="../../assets/img/mycamera/15.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/mycamera/15.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix templates">
            <img src="../../assets/img/Screenshots/1.jpg" alt="Personal Template" title="Personal Template">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="https://tarekrida1.github.io/project3/" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix graphics">
            <img src="../../assets/img/graphics/2.jpg" alt="" title="">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="../../assets/img/graphics/2.jpg" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="item mix templates">
            <img src="../../assets/img/Screenshots/books.jpg" alt="Books Template" title="Books Template">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="https://tarekrida1.github.io/books_web_page_NotCompletd/" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix templates">
            <img src="../../assets/img/Screenshots/bootstrap.jpg" alt="bootstrap 4 Template" title="bootstrap 4 Template">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="https://tarekrida1.github.io/bootstrab4/" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="item mix templates">
            <img src="../../assets/img/Screenshots/courses.jpg" alt="Courses Template" title="Courses Template">
            <div class="overlay rgb1">
                <div class="over-text">

                    <a href="https://tarekrida1.github.io/page_task/" target="_blank">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
    </div>
</div>
<!-- end gallery -->