<!-- start more about me -->
<div id="moree-content"></div>
<div class="moree border1">
    <div class="container">
        <div class="con" data-aos="fade-up">
            <img class="border1" src="{{ aboutImg }}" alt="profile imge">
            <h1 class="color1">About Me</h1>
            <p class="color-light">
                I am a front-end developer. I developing websites based on web standard technologies like HTML5, CSS, JavaScript And Make websites more interaction on any browser in any screen, And I Looking For More Experience In Web Development And Looking Forward
                For More Challenge And learning, Do More Effort In a Variet Fields Like UI Design, Graphic Design And Web Development.
            </p>
        </div>
        <div class="row">
            <div class="basic col-12">
                <h2 class="color2" data-aos="fade-up">PERSONAL INFORMATION</h2>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h4 class="color-light" data-aos="fade-up">Full Name :</h4>
                        <P data-aos="fade-up">Tarek Abd Elnasser Rida</P>
                        <h4 class="color-light" data-aos="fade-up">Birth Day :</h4>
                        <P data-aos="fade-up">1, september, 1994</P>
                        <h4 class="color-light" data-aos="fade-up">Job title :</h4>
                        <P data-aos="fade-up">Front End Developer</P>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h4 class="color-light" data-aos="fade-up">Phone No :</h4>
                        <P data-aos="fade-up">01065596566</P>
                        <h4 class="color-light" data-aos="fade-up">Email :</h4>
                        <P data-aos="fade-up">Tarek.rida1@Hotmail.com</P>
                        <h4 class="color-light" data-aos="fade-up">Address :</h4>
                        <P data-aos="fade-up">Egypt, Cairo, naser city.</P>
                    </div>
                </div>
            </div>
            <div class="skills col-12" data-aos="fade-right" id="skillss">
                <h2 class="color2" data-aos="fade-up">My Skills</h2>


                <div class="progresss">
                    <ul>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <li>
                                    <h4 class="color-light" data-aos="fade-up">Html5</h4>
                                    <div class="prog_bar background2" data-aos="fade-up">
                                        <div class="percent percent98 prog_width gradient" id="percent">
                                            <span class="gradient">98%</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="color-light" data-aos="fade-up">Css</h4>
                                    <div class="prog_bar background2" data-aos="fade-up">
                                        <div class="percent percent86 prog_width gradient">
                                            <span class="gradient">86%</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="color-light" data-aos="fade-up">Bootstrap</h4>
                                    <div class="prog_bar background2" data-aos="fade-up">
                                        <div class="percent percent89 prog_width gradient">
                                            <span class="gradient">89%</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="color-light" data-aos="fade-up">JavaScript</h4>
                                    <div class="prog_bar background2" data-aos="fade-up" id="skills">
                                        <div class="percent percent76 prog_width gradient">
                                            <span class="gradient">76%</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <li>
                                    <h4 class="color-light" data-aos="fade-up">Jquery</h4>
                                    <div class="prog_bar background2" data-aos="fade-up">
                                        <div class="percent percent83 prog_width gradient">
                                            <span class="gradient">83%</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="color-light" data-aos="fade-up">Sass</h4>
                                    <div class="prog_bar background2" data-aos="fade-up">
                                        <div class="percent percent81 prog_width gradient">
                                            <span class="gradient">81%</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="color-light" data-aos="fade-up">Adobe Photoshop</h4>
                                    <div class="prog_bar background2" data-aos="fade-up">
                                        <div class="percent percent80 prog_width gradient">
                                            <span class="gradient">80%</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h4 class="color-light" data-aos="fade-up">WordPress</h4>
                                    <div class="prog_bar background2" data-aos="fade-up">
                                        <div class="percent percent58 prog_width gradient">
                                            <span class="gradient">58%</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="my-cv gradient btnn" data-aos="fade-up">
        <div class="animate_btnn gradient"></div>
        <span>
        <a href="https://onedrive.live.com/?cid=5e4f6dae2f8b84de&id=5E4F6DAE2F8B84DE%21118368&authkey=%21AKWAv7r97M8psso"
          target="_blank">
          <i class="fa fa-download"></i> Resume</a>
      </span>
    </div>
    <div id="Portfolio-content"></div>
</div>
<!-- end more about me -->