<!-- start wellcome -->
<div class="wellcome" id="home-content">
    <div class="overlay"></div>
    <div class="container">
        <div class="wellcome-text">
            <h6 class="hh background1">TaReK RiDa</h6>
            <h1 class="hh2 cd-headline clip is-full-width color1">
                <span class="cd-words-wrapper">
                <b class="is-visible">Front End Developer</b>
                <b class="is-hidden">UI & UX Developer</b>
              </span>
                <span class="tt color1">|</span>
            </h1>


        </div>
    </div>
    <div class="social">
        <div class="icon">
            <a href="https://www.facebook.com/tarek.rida1">
                <i class="fab fa-facebook-square"></i>
            </a>
        </div>
        <div class="icon">
            <a href="https://www.instagram.com/tarek.rida1/">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="icon">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="icon">
            <a href="https://github.com/Tarekrida1">
                <i class="fab fa-github-square"></i>
            </a>
        </div>
        <div class="icon">
            <a href="https://www.linkedin.com/in/tarekrida1">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>

    <svg class="top-left" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 646.1 300" style="enable-background:new 0 0 646.1 300;" xml:space="preserve">
          <path class="st0" d="M-17,314c0,0,137.6-115.4,287.6-98.9s57-114,208.5-79.5s192-279,192-279L8.1-92.4L-68.4,14" />
          <path class="st1" d="M0,300c0,0,137.6-115.4,287.6-98.9s57-114,208.5-79.5s192-279,192-279l-663,51L-51.4,0" />
          <path class="st2" d="M-0.6,299.9c0,0,133.9-119.7,284.3-107.9s53.4-115.7,205.9-86s183.1-284.9,183.1-284.9l-661,71.9L-61.4,1.7" />
        </svg>
    <svg class="bottom" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1280 400" style="enable-background:new 0 0 1280 400;" xml:space="preserve">
          <g id="Layer_1">
          </g>
          <g id="Layer_2">
            <g>
              <defs>
                <rect id="SVGID_1_" x="-0.1" y="0.5" width="1279.1" height="400.5" />
              </defs>
              <clipPath id="SVGID_2_">
                <use xlink:href="#SVGID_1_" style="overflow:visible;" />
              </clipPath>
              <path class="st0" d="M-0.1,0.5c0,0,0.2,3.9,1.7,10.2c5.8,23.8,31.1,80.2,141.1,76c139.2-5.4,163.5-70.1,383.8-43.2
        s228.4,36.6,318.9,0S1013-2.7,1080.6,27.1c67.6,29.7,141.4,38.1,164.4,16.3C1267.9,21.6,1279,0,1279,0v401H0" />
              <path class="st1" d="M-5,17.5c0,0,0.2,3.9,1.8,10.2c5.9,23.8,31.8,80.2,144.2,76c142.2-5.4,167.2-70.1,392.3-43.2
        s233.4,36.6,326,0s171.3-46.1,240.3-16.4s144.3,38.1,167.8,16.3C1290.8,38.6,1302,17,1302,17v401H-5" />
              <path class="st2" d="M-7,38.5c0,0,0.2,3.9,1.8,10.2c5.9,23.8,31.7,80.2,143.8,76c141.8-5.4,166.6-70.1,391-43.2
        s232.7,36.6,324.9,0s170.7-46.1,239.6-16.4s143.9,38.1,167.3,16.3S1296,38,1296,38v401H-7" />
            </g>
          </g>
        </svg>

</div>
<!-- end wellcome -->