<!-- start services -->
<div class="services text-center " id="Services-content">
    <div class="container">
        <div class="head">
            <h1 class="color1">Services</h1>
            <h2 class="color2">What Can I Do For You?</h2>
            <h5 class="color-light">responsive websites, javascript and jquery functions, clean and professional code.</h5>
        </div>

    </div>
    <div class="sevices-slider">


        <div class="slide">
            <div class="container">
                <div class="slide-container row">
                    <div class="col-md-8 col-sm-12">
                        <img src="img/services/codee.svg" alt="">
                    </div>
                    <div class="slide-text col-md-4 col-sm-12">
                        <h3 class=" color2 color-light">Web Design</h3>
                        <p>I Can Create And Design Your Dreams Wesbite!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="slide-container row">
                    <div class="col-md-8 col-sm-12">
                        <img src="img/services/brands.svg" alt="">
                    </div>
                    <div class="slide-text col-md-4 col-sm-12">
                        <h3 class=" color2 color-light">Branding</h3>
                        <p>Creating PSD (photoshop) Or Images For Your New Branding And Logo!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="slide-container row">
                    <div class="col-md-8 col-sm-12">
                        <img src="img/services/clean.svg" alt="">
                    </div>
                    <div class="slide-text col-md-4 col-sm-12">

                        <h3 class=" color2 color-light">Clean Code</h3>
                        <p>Will Find it So Easy To Edit, Maintain, Or Even Adding On My Code!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="slide-container row">
                    <div class="col-md-8 col-sm-12">
                        <img src="img/services/responsive.svg" alt="">
                    </div>
                    <div class="slide-text col-md-4 col-sm-12">
                        <h3 class=" color2 color-light">Fully Responsive</h3>
                        <p>My Web Designs Are Fully Responsive And Friendly On Any Kind Of Screens
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="slide-container row">
                    <div class="col-md-8 col-sm-12">
                        <img src="img/services/error.svg" alt="">
                    </div>
                    <div class="slide-text col-md-4 col-sm-12">
                        <h3 class=" color2 color-light">Fixing errors</h3>
                        <p>You can contact me via email to find all support</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="container">
                <div class="slide-container row">
                    <div class="col-md-8 col-sm-12">
                        <img src="img/services/dynamic.svg" alt="">
                    </div>
                    <div class="slide-text col-md-4 col-sm-12">
                        <h3 class=" color2 color-light">Dynamic</h3>
                        <p>Websites don't have to be static, I love making pages come to life.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end services -->